@charset "utf-8";

/*공통 적용*/
html, body, a, div, header, h1, nav, input, section, h2, form
, p, button, span, table, td, tr, footer {
    margin: 0;
    padding: 0;
}
a{
    color: #000;
    text-decoration: none;
}
.hidden, legend, caption {
    position: absolute;
    left: -9999px;
}
ul{
    list-style: none;
}
fieldset{
    border: 0;
}

/*건너뛰기 링크*/
#skipNav{
    position: absolute;
    left: -9999px;
}
#skipNav:focus{
    left: 50%;
    margin: 0 0 0 -3em;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    outline: 0;
    z-index: 10;
}

/*레이아웃*/
header, footer, body, html, #wrapper{
    width: 100%;
    min-width: 960px;
}
#contentsArea, #footer_inner{
    width: 960px;
    margin: 0 auto;
}

/*
 글 색: #eff500
 배경색: #48a9ed
*/

/*header*/
header{
    height: 60px;
    background-color: #48a9ed;
    position: relative;
}
.logo {
    position: absolute;
    left: 20px;
    top: 7px;
}
.logo img {
    height: 45px;
}
nav{    
    position: absolute;
    right: 20px;
    top: 13px;
}
nav .btn_login {
    color: #fff;
    padding: 5px 15px;
    border: none;
    background-color: #48a9ed;
}

/*footer 영역 시작*/
footer {
    border-top: 1px solid #ccc;
    background-color: #fff;
    color: #aaa;
    height: 250px;
}
#footer_inner {
    height: 100%;
}
.page_info_area {
    display: inline-block;
    width: 65%;
    margin-right: 4%;
    margin-top: 50px;
}
.page_info_area img{
    height: 45px;
}
.page_info {
    margin-top: 30px;
}
.page_info {
    line-height: 1.8;
    font-size: 0.9rem;
}
.cs_info_area {
    display: inline-block;
    width: 30%;
    margin-top: 50px;
}
.cs_info_area .cs_info td {
    padding: 0.2rem 0.5rem;
}
.cs_info_area .cs_info tr td:first-child {
    font-weight: 600;
    color: #ccc;
}