@charset "utf-8";

html, body, div, header, footer, h1, h2, img, button, input, section, ul, li, address, span, p {
    margin: 0;
    padding: 0;
}
#main_img, #controller, #best_hotel_wrap, #exhibition, #festival {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*메인 이미지 영역 시작*/
#main_img {
    width: 100%;
    height: 400px;
    text-align: center;
}
#main_img > img{
    width: 960px;
    height: 400px;
}
/*메인 이미지 영역 종료*/


/*컨트롤러 영역 시작*/
#controller {
    width: 960px;
}
.controller_wrap {
    margin: 0 auto;
    position: relative;
    top: -50px;
    width: 700px;
    height: 170px;
    background-color: rgb(213, 239, 248);
}
.lodging_wrap{
    height: 85px;
    border-bottom: 1px solid #666;
}
.icon:hover {
    border-bottom: 1px solid rgb(213, 239, 248);
    cursor: pointer;
}
.icon {
    float: left;
    width: 100px;
    height: 85px;
    margin: 0 37.5px;
    text-align: center;
}
.icon > img {
    width: 40px;
    height: 40px;
    margin-top: 22.5px;
}
.date_wrap {
    height: 85px;
}
.date {
    height: 85px;
    text-align: center;
}
.check_in, .check_out, .search {
    border: none;
    width: 150px;
    height: 30px;
    margin-top: 27.5px;
    text-align: center;
    margin-right: 15px;
}
.date_btn {
    width: 70px;
    height: 30px;
    margin-top: 27.5px;
    border: none;
    cursor: pointer;
    background-color: white;
}
/*컨트롤러 영역 종료*/


/*인기숙소 영역 시작*/
#best_hotel_wrap {
    height: 300px;
    margin-top: 100px;
}
.best_hotel > h2, .best_guesthouse > h2, .best_camping > h2, .best_hanok > h2 {
    height: 30px;
    padding-left: 21px;
    font-size: 21px;
    font-weight: 500;
}
.room {
    float: left;
    width: 192px;
    height: 255px;
    margin-top: 15px;
}
.room_pic {
    width: 150px;
    height: 165px;
    margin: 0 auto;
}
.room_pic > img {
    width: 150px;
    height: 165px;
    border-radius: 2px;
}
.room > p {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
}
.hotel_name, .guesthouse_name, .camping_name, .hanok_name {
    font-weight: bold;
}
/*인기숙소 영역 종료*/


/*공연/전시 영역 시작*/
#exhibition {
    height: 300px;
    margin-top: 100px;
}
.exhibition_wrap {
    height: 270px;
}
.exhibition_wrap > h2 {
    height: 30px;
    padding-left: 21px;
    font-size: 21px;
    font-weight: 500;
}
.exhibition {
    float: left;
    width: 320px;
    height: 225px;
    margin-top: 15px;
}
.exhibition_pic {
    width: 280px;
    height: 165px;
    margin: 0 auto;
}
.exhibition_pic > img {
    width: 280px;
    height: 165px;
    border-radius: 2px;
}
.exhibition > p {
    width: 280px;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
}
.exhibition_name {
    font-weight: bold;
}
/*공연/전시 영역 종료*/


/*축제 영역 시작*/
#festival {
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.festival_wrap {
    height: 300px;
}
.festival_wrap > h2 {
    height: 30px;
    padding-left: 21px;
    font-size: 21px;
    font-weight: 500;
}
.festival {
    float: left;
    width: 192px;
    height: 255px;
    margin-top: 15px;
}
.festival > div {
    width: 150px;
    height: 165px;
    margin: 0 auto;
}
.festival > div > img {
    width: 150px;
    height: 165px;
    border-radius: 2px;
}
.festival > p {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
}
.festival_name {
    font-weight: bold;
}
/*축제 영역 시작*/


/* 인기 숙소 영역 */
.best_guesthouse {
    display: block;
}
.best_hotel, .best_camping, .best_hanok {
    display: none;
}