@charset "utf-8";

html, body, div, form, fieldset, p {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}
html, body {
    width: 100%;
    height: 100%;
    position:relative;
}
#wrap {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-200px;
}
#login_wrap {
    width: 400px;
    height: 400px;
}
#login_form {
    text-align: center;
    height: 220px;
}
fieldset {
    height: 220px;
    border: none;
}
.title {
    width: 400px;
    height: 60px;
    margin-top: 15px;
}
.title > label {
    display: inline-block;
    width: 250px;
    margin-bottom: 3px;
    text-align: left;
    color: #777777;
}
.title > input {
    width: 230px;
    height: 30px;
    padding-left: 10px;
}
fieldset > button {
    margin-top: 22px;
    width: 250px;
    height: 37px;
    background-color: #0069d9;
    color: white;
}
hr {
    width: 350px;
}
#join {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 250px;
    height: 37px;
}
#naverIdLogin {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 250px;
    height: 37px;
    background-color: #19ce60;
    color: white;
}