#contents_area {
    height: 100%;
}
#contents_area {
    width: 960px;
    margin: 0 auto;
}


/* 상단 슬라이드 , 숙소정보 */
.stay_info_area {
    width: 100%;
    margin-top: 60px;
    display: flex;
    border-bottom: 1px solid #ccc;
}

#slide {
    width: 480px;
    height: 420px;
}
#slide > div:hover {
    cursor: pointer;
}

.stay_info {
    display: inline-block;
    margin-left: 30px;
    width: 440px;
    height: 300px;
}
.stay_info > h2 {
    margin: 10px 0 20px;
}
.stay_info > p {
    width: 440px;
    height: 270px;
    border: 1px solid #999;
}
/* // 상단 슬라이드 , 숙소정보 */


/* 숙소상세, 위치, 후기 메뉴바 */
#select_menu {
    margin: 20px 0 40px 0;
    height: 50px;
    border-bottom: 1px solid #ccc;
}
.hover:hover {
    font-weight: bold;
    cursor: pointer;
}
#detail {
    font-weight: bold;
}
/* // 숙소상세, 위치, 후기 메뉴바 */


/* 하단 내용 */
/* 객실 상세 */
#stay_contents_area {
    padding: 0;
    /*  height: 400px;  */
}
#stay_contents_area > div:last-child {
    margin-bottom: 30px;
}

.hotel_room_wrap {
    margin: 0 auto;
    width: 960px;
    height: 300px;
    margin-top: 20px;
}
.hotel_room_wrap > .room_info {
    position: relative;
    height: 300px;
}
.hotel_room_wrap > .room_info > .room_info_img {
    margin: auto;
}
.hotel_room_wrap > .room_info > .room_info_img > img{
    width: 350px;
    height: 250px;
    margin-left: 25px;
}

#room_info_content1, #room_info_content2, #room_info_content3 {
    width: 500px;
    height: 250px;
    padding: 10px;
    margin: 25px 0 0 30px;
}
#room_info_content1 > h4, #room_info_content2 > h4, #room_info_content3 > h4 {
    margin: 0 0 30px 0;
    font-weight: bold;
}
#room_info_content1 > p, #room_info_content2 > p, #room_info_content3 > p {
    margin-left: 15px;
}
.amenitie > span {
    display: inline-block;
    width: 345px;
    text-align: right;
}
.price > span {
    display: inline-block;
    width: 400px;
    text-align: right;
}

#pay_btn1, #pay_btn2, #pay_btn3 {
    margin-top: 25px;
    text-align: center;
}
#pay_btn1 > button, #pay_btn2 > button, #pay_btn3 > button {
    width: 300px;
    height: 35px;
}
/* // 객실 상세 */

/* 위치 */
#click_place {
    margin: 0 auto;
    width: 750px;
    height: 400px;
    margin-top: 20px;
}
#map {
    width:750px;
    height:400px;
}
/* // 위치 */

/* 리뷰 */
#click_review {
    margin: 0 auto;
    width: 750px;
    margin-top: 20px;
}
.reviews {
    width: 750px;
    height: 200px;
    margin-bottom: 10px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.review_info {
    width: 700px;
    margin: 20px 0 0 30px;
}
.review_info > span:nth-last-child(1) {
    margin-left: 80px;
}
.review_date {
    width: 700px;
    height: 120px;
    margin: 20px 0 0 30px;
}
.review_date > span:nth-last-child(1) {
    display: inline-block;
    width: 500px;
    height: 120px;
    margin-left: 95px;
    border: 1px solid #999;
}
/* // 리뷰 */
/* // 하단 내용 */

/* 하단 내용 display */
#click_place, #click_review {
    display: none;
}
/* // 하단 내용 display */